.map-body {
  background-color: rgba(231, 227, 227, 0.5);
  border-radius: 5px;
}

section div {
  width: 110px;
  height: 125px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.tables {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round div {
  border-radius: 50%;
  width: 115px;
  height: 115px;
}

.tables div:nth-child(even) {
  border: 3px solid #30b876;
}

.tables div:nth-child(odd) {
  border: 3px solid #e91e1e;
  /* box-shadow: 5px 5px 10px #b78686; */
}
span p {
  margin: 0;
  text-align: center;
  padding: 2px;
}

.tables div:nth-child(even):hover {
  background-color: #30b876;
  box-shadow: 5px 5px 10px #7ba491;
}

.tables div:nth-child(odd):hover {
  background-color: #e91e1e;
  box-shadow: 5px 5px 10px #b78686;
}

.tables div:nth-child(odd):hover span p {
  color: white;
}

.tables div:nth-child(even):hover span p {
  color: white;
}

.box {
  width: 20px;
  height: 20px;
}

.reserved {
  border: 2px solid #e91e1e;
}

.available {
  border: 2px solid #30b876;
}


/* This removes the dd/mm/yyy when input is not in focus */

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: rgb(62, 62, 62) !important;
}



#phone-input::before {
  content: "+233 ";
  color: gray;
}
