/* This removes the dd/mm/yyy when input is not in focus */

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: rgb(62, 62, 62) !important;
}



#phone-input::before {
  content: "+233 ";
  color: gray;
}


select option:checked {
  background-color: green ;
}

.form-control {
 /* background: scroll !important; */
}

.select {
   /* border: 1px solid #d2d6da; */
}